# ===== Supabase =====
# Project URL: trouve-la dans Settings > API > Project URL
SUPABASE_URL=https://zqtimlevxefvbinqkdqn.supabase.co


# Service Role Key: trouve-la dans Settings > API > service_role secret
# (c'est la clé serveur, elle contourne le RLS)
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpxdGltbGV2eGVmdmJpbnFrZHFuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTU0NjI1MiwiZXhwIjoyMTA1MTIyMjUyfQ.Gjwmq3czZqpj0F3IzQNsS8yyb-pL7zjZNzuBUPZgpLg

# Anon Key (optionnel, pour les operations client-side si besoin)
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpxdGltbGV2eGVmdmJpbnFrZHFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk1NDYyNTIsImV4cCI6MjEwNTEyMjI1Mn0.7mm4QU3be7WFqzlHGvK-1_RUrK0fmCFB70p9s_vhzcE

# ===== App =====
APP_ENV=development
APP_PORT=8000



MOT_DE_PASSE_ADMIN=SarobidyNyAvo*2001